<div class="offset-help">
			
				<!--PRINCIPAL CONTENT-->
				
				<div class="block-main">
					<div id="content-2">
					   <div class="page-nav">
			                <h1 class="title-p"><%= @work.title %></h1>
			                  <ol class="breadcrumb">
			                    <%= render_breadcrumbs :tag => :li, :separator => "" %>
			                  </ol>
			              </div>
            			<div class="block-content">
						<%= render 'form' %>
						</div>
					</div>
				</div>		
								
			</div>


