<%  add_breadcrumb "Home", :root_path, :options => { :title => "Home" } %>
<%  add_breadcrumb "Contact", page_path('contact'), :options => { :title => "contact" } %>			
<div class="offset-help">
				<div class="block-main">
					<div id="content-2" >
					
						<!-- BLOCK CONTENT-->

							<!--Title-->
							<div class="block-content row page-title">
								<div class="typho page-nav">

					<h1 class="title-p">Contact Us</h1>
				  <ol class="breadcrumb">
                    <%= render_breadcrumbs :tag => :li, :separator => "" %>
                  </ol>
								</div>
							</div>
						
							<div id="map_one" class="col-md-12" style=" height: 300px; z-index:300;">
							
              </div>
						
							<!--ABOUT COLUMNS-->
							<div class="block-content row">

														
								<div class="col-md-3 col-sm-3">
									<!--CATEGORIES-->	
									<div class="contact-box spacer-bottom">
									<h4 class="opensans">Contact Info</h4>
									<div class="address">
											<p>120 E. Larkin<br>
											Athens, Texas, 75751<br>
											USA</p>
										</div>
										<div class="contact-info">
										<p><b>Phone:</b> 903-780-2624 <br>
				
										<b>Email:</b> charliebullocktx@gmail.com<br>
										<b>Web:</b> http://www.charliebullock.me</p>
										</div>
									</div>
								</div>


							
								<div class="col-md-9 col-sm-9">
									
               

								</div>

							</div>
			
						
						
					</div>
				</div>
			</div>