     <div class="offset-help">
      
        <!--PRINCIPAL CONTENT-->
        
    

        <div class="block-main">
          <div id="content">
            
            <!-- BLOCK FEATURES-->
            <div class="features-p row">
              <div class="col-md-4">
                <div class="feature">
                  <i class="fa fa-tablet"></i><h4>Art Classes</h4>
                  <p>Some text about the art classes offered at Charlie Bullock Art studios.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature">
                  <i class="fa fa-pencil"></i><h4>Available Works</h4>
                  <p>Short description of the latest projects and a link to their gallery</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature">
                  <i class="fa fa-camera-retro"></i><h4>Previous Work</h4>
                  <p>Short description about the previous work and a link to the archives gallery</p>
                </div>
              </div>
            </div>
            <!-- /BLOCK FEATURES-->
            
            <!-- BLOCK IMAGES-->
            <div class="block-images row">
            
              <div class="block-title text-center">
                <h3>Charlie Bullock Art Studios </h3>
                <p>Something descriptive about the studio and Charlie</p>
              </div>
              
              <div class="block-item col-md-4  col-sm-4">
                <div class="photo">
                
                  <div class="img-frame">
                      <img src="http://placehold.it/400x266" alt="urbano 1">
                      <div class="overlay-bg"></div>
                      <div class="overlay-content">
                        <div class="text">
                          <a href="portfolio-single.html"><i class="fa fa-link"></i></a>
                          <a class="image-link" href="http://placehold.it/400x266"><i class="fa fa-search"></i></a>
                        </div>
                      </div>
                  </div>
                  
                </div>
                
                
                <h4> City with clouds </h4>
                <p>This is a beautiful description</p>
              </div>
              
              <div class="block-item col-md-4  col-sm-4">
                <div class="photo">
                
                  <div class="img-frame">
                      <img src="http://placehold.it/400x266" alt="urbano 2">
                      <div class="overlay-bg"></div>
                      <div class="overlay-content">
                        <div class="text">
                          <a href="portfolio-single.html"><i class="fa fa-link"></i></a>
                          <a class="image-link" href="http://placehold.it/400x266"><i class="fa fa-search"></i></a>
                        </div>
                      </div>
                  </div>
                  
                </div>
                
                
                <h4> Walking the streets </h4>
                <p>Let scape your imagination with those pictures</p>
              </div>
              
              <div class="block-item col-md-4  col-sm-4">
                <div class="photo">
                
                  <div class="img-frame">
                      <img src="http://placehold.it/400x266" alt="urbano 3">
                      <div class="overlay-bg"></div>
                      <div class="overlay-content">
                        <div class="text">
                          <a href="portfolio-single.html"><i class="fa fa-link"></i></a>
                          <a class="image-link" href="http://placehold.it/400x266"><i class="fa fa-search"></i></a>
                        </div>
                      </div>
                  </div>
                  
                </div>
                
                
                <h4> Road to home </h4>
                <p>Nothing compares with arrive at sweet home</p>
              </div>

            </div>
            <!-- /BLOCK IMAGES-->
            
         
            
            
          </div>
        </div>    
                
      </div>  