     <div class="offset-help">
      
        <!--PRINCIPAL CONTENT-->
        
    

        <div class="block-main">
          <div id="content">
              <!-- BLOCK IMAGES-->
            <div class="block-images row">
            
              <div class="block-title text-center">
                <h3>Our Latest Works </h3>
                <p>Something descriptive about the studio and Charlie</p>
              </div>
              
              <%  latest_images.each do |image| %>
              <div class="block-item col-md-4  col-sm-4">
                <div class="photo">
                
                  <div class="img-frame">
                       <%= image_tag image.file.url(:medium) %>
                      <div class="overlay-bg"></div>
                      <div class="overlay-content">
                        <div class="text">
                         <%= link_to work_url(image) do %>
                            <i class="fa fa-search"></i>
                          <% end %>
                         
                        </div>
                      </div>
                  </div>
                  
                </div>
                
                
                <h4> <%= image.title %> </h4>
                <p> <%= image.description %></p>
              </div>

              <% end %>
              
          

            </div>
            <!-- /BLOCK IMAGES-->

            <!-- BLOCK FEATURES-->
            <div class="features-p row">
              <div class="col-md-4">
                <div class="feature">
                  <i class="fa fa-tablet"></i><h4>Art Classes</h4>
                  <p>Some text about the art classes offered at Charlie Bullock Art studios.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature">
                  <i class="fa fa-pencil"></i><h4>Available Works</h4>
                  <p>Short description of the latest projects and a link to their gallery</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature">
                  <i class="fa fa-camera-retro"></i><h4>Previous Work</h4>
                  <p>Short description about the previous work and a link to the archives gallery</p>
                </div>
              </div>
            </div>
            <!-- /BLOCK FEATURES-->
            
          
            
         
            
            
          </div>
        </div>    
                
      </div>  